<app-interno titulo="Últimas Compras">
 <div class="container">
    <table class="mobile-table">
      <thead>
        <tr>
          <th>Produto</th>
          <th>Categoria</th>
          <th>Qtd.</th>
          <th>Preço Un.</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="Lista" class="product-name">Outubro</td>
          <td data-label="Data">01/10/2026</td>
          <td data-label="Total">R$ 24,90</td>
        </tr>
      </tbody>
    </table>
  </div>

</app-interno>