<app-interno titulo="Últimas Compras">
 <div class="container">
    <table class="mobile-table">
      <thead>
        <tr>
          <th>Produto</th>
          <th>Categoria</th>
          <th>Qtd.</th>
          <th>Preço Un.</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="Produto" class="product-name">Manteiga</td>
          <td data-label="QTD">10</td>
          <td data-label="Tipo">UN</td>
          <td data-label="Preco Un">R$ 24,90</td>
        </tr>
      </tbody>
    </table>
  </div>

</app-interno>